#root{
    background-color: none;
}
body
{
    background-image: url("../img/wallpaper.png");
    margin: 0cm;
    background:linear-gradient(to left top, rgb(52, 52, 160), rgb(147, 70, 70), rgb(37, 181, 186));
    background-attachment: scroll; 

    display: flex;
    flex-direction: column;
    min-height: 100%;

}




