
#asideLeftFather{
    position: fixed;
left: 77px;
top: 65px;
}

#listLeftAsideChild{
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(8, 8, 8, 0.363);
    font-size: 30px;
    flex-direction: column;
    position: absolute;
    font-family: 'Gugi';
    font-style: normal;
    font-weight: auto;
    font-size: 35px;
    line-height: 60px;
    display: block;
/* or 171% */
font-feature-settings: 'tnum' on, 'lnum' on, 'case' on, 'cpsp' on;
color: #000000;
}
@media screen and (max-width: 1000px) {
    #asideLeftFather{
        display: block;
    }

    #listLeftAsideChild{
        display: none;
    }
    #Content{
        padding: 100px;

    }
}
