.container{
    
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
}
.grid-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
.child{
    
    margin: 5px;
    font-size: 30px;
    
}