#Skills{
    margin: 4px;
    padding: 4px;
}
.skillfather{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}
.skillchild{
    display: flex;
    flex-direction: column;
    
}
.pSkill{
    font-size: 20px;
}
#iconSkill{
    width: 30px;
    height: 30px;
}